.card-img {
  width: 50%;
  height: 40%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.achievement-badge{
  height: 35px;
  width: 35px;
  margin-top: 9px;
  margin-left: -4px;
  cursor: pointer;
}

.community-supporter-badge {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.community-supporter-badge {
  --f: .5em; /* control the folded part */
  
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.8;
  padding-inline: 1lh;
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51%/var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
  transform: translate(calc((cos(45deg) - 1)*100%), -100%) rotate(-45deg);
  transform-origin: 100% 100%;
  background-color:crimson /* the main color  */
}
