.card {
  border-radius: 15px;
}

.card-title {
  font-weight: 600;
  color: #343a40;
}

.form-control-plaintext {
  border: 1px solid #e3e3e3;
  padding: 8px 12px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

button {
  min-width: 90px;
  margin: 5px;
}
